/* OurServices.css */

.our_services {
    text-align: center;
    margin: 135px 0px 0px 0px;
  }
  
  
  h2 {
    color: #333;
  }
  
  .service_container {
    display: flex;
    justify-content: center;
    margin: 20px 180px 20px 180px;
    padding: 10px;
    background-color: beige;

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  43px 43px 78px #797979,
             -43px -43px 78px #ffffff;
  }
  
  .service_item {
    margin: 10px;
    height: 350px;
    width: 350px;
    margin: 20px 130px 50px 130px;

    width: 190px;
 height: 254px;
 border-radius: 30px;
 background: rgb(251, 250, 247);
 box-shadow: 15px 15px 30px rgb(204, 202, 202),
             -15px -15px 30px rgb(165, 162, 162);

    && img 
    {
        height: 70%;
        width: 70%;
        margin-top: 10px;
    }
  }
  
  
  
  p {
    margin-top: 10px;
    color: #666;
  }
  
  
  @media screen and (max-width: 799px)
  {
    .service_item {
        margin: 10px;
        height: 100px;
        width: 100px;
        margin: 20px 30px 50px 20px;
    
        && img 
        {
            height: 80%;
            width: 80%;
        }
      }
      .service_container
      {
        margin: 20px 30px 20px 30px;
      }

  }