/* Style for the accordion container */
.accordion-section {
    border: 1px solid #ffffff;
    margin-bottom: 10px;
  }
  
  /* Style for the accordion header */
  .accordion-header {
    /* background-color: #fbc4c4; */
    background: linear-gradient(to right, rgba(255, 0, 0, 0.715) ,rgba(0, 0, 255, 0.753));
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid black;

  }
  
  /* Style for the active accordion header */
  .accordion-header.active {
    background-color: #ddd;
  }
  
  /* Style for the accordion content */
  .accordion-content {
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
  }
  
  /* Style for the points list */
  .accordion-content ul {
    list-style-type: none;
    padding: 0;
    color: red blue
  }
  
  /* Style for individual points */
  .accordion-content li {
    margin-bottom: 5px;
  }
.container
{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}  

 

 /* 
  
 .Service_Container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  filter: blur(10px); /* Adjust the blur value as needed */
  /* opacity: .5; Adjust the opacity value as needed  */
  /* z-index: -1; */
/* } */
 
 

/* Rest of your existing body styles */
.Service_Container {
  /* background-image: url(../assets/background.jpg); */
  background-image: url();
  background: linear-gradient(to right, rgba(254, 162, 162, 0.432) ,rgba(133, 133, 249, 0.484));
  background-size: cover;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  

}
/* for moving Heading */
.heading
{
  margin-top: 0px;
}
#movingHeading
{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        color: black;
        -webkit-background-clip: text;
        text-shadow: 0 0 60px rgba(255, 0, 0, 0.696);
        padding: 5px;
        animation: anime 0.5s infinite alternate;
        margin-top: 60px;
  
}
@keyframes anime {
  100%{
      text-shadow: 0 0 60px rgb(2, 2, 250);
  }
}