/* OurServices.css */

.our_services {
  text-align: center;
  margin: 30px 0px 0px 0px;
  /* background: linear-gradient(to right, #f9e7e7 ,#ebebfb); */
}



.our_services_heading
{
  && h1
  {
    font-size: 40px;
    font-weight: 900;
    margin: 0px;
    padding: 20px 20px;
    color: red;
  }
}
 

.service_container {
  display: flex;
  justify-content: center;
  margin: 20px 180px 20px 180px;
  padding: 10px;
  background-color: beige;

  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  43px 43px 78px #797979,
           -43px -43px 78px #ffffff;
}

.service_item {
  margin: 10px;
  height: 350px;
  width: 350px;
  margin: 20px 130px 50px 130px;

  width: 190px;
height: 254px;
border-radius: 30px;
background: rgb(251, 250, 247);
box-shadow: 15px 15px 30px rgb(204, 202, 202),
           -15px -15px 30px rgb(165, 162, 162);

  && img 
  {
      height: 70%;
      width: 70%;
      margin-top: 10px;
  }
}



p {
  margin-top: 10px;
  color: #666;
}


@media screen and (max-width: 799px)
{
  .service_item {
      margin: 10px;
      height: 100px;
      width: 100px;
      margin: 20px 30px 50px 20px;
  
      && img 
      {
          height: 80%;
          width: 80%;
      }
    }
    .service_container
    {
      margin: 20px 30px 20px 30px;
    }
    .our_services
    {
      margin: 130px 0px 0px 0px;
    }

} 


/* for pop up css */
/* .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
} */

.close {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.open
{
  display: flex;
}

/* animation for pop up  */


/* .modal1 {
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  top: 0px;
  position: fixed;
} */

.modal1 {
  width: 90%;
  height: 80%;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #726464, -20px -20px 60px #3f3d3d;
  top: 50%; /* Adjust this value based on your needs */
  left: 50%; /* Adjust this value based on your needs */
  transform: translate(-50%, -50%) !important;
  
  position: fixed;
  
}

.close_pop
{
  display: none;
  
}
.popUp
{
  transform: translateX(80%);
  transition: all 0.5s ease;
  
  
}

.modal-content {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 97%;
  height: 98%;
  z-index: 2;
  background: white;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  /* background-color: red; */
  background: linear-gradient(-45deg, red 50%, blue 50% );
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}


@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/* pop up css for desktop */
@media (min-width: 768px)
{
  .modal1
  {
    width: 70%;
    height: 70%;
  }
  .modal-content
  {
    width: 99%;
    height: 98%;
  }
  .blob
  {
    width: 500px;
    height: 550px;
  }
}

/* css for contact as button */
/* This is an example, feel free to delete this code */
.tooltip-container {
  --background: #4132c9;
  --support-size: 50px;
  --tooltip-radius: 10px 10px 10px 0;
  --outline-border-color: #0096aa;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  font-weight: bold;
  padding: 0.7em 1.8em;
  color: var(--background);
  border: solid 2px var(--background);
  z-index: 999;
  top: 40%;
}

.tooltip-container::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.5s linear;
  outline: 3px solid transparent;
  background: var(--background);
}
.tooltip-container:hover {
  color: white;
}
.tooltip-container:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 0;
  outline-offset: 5px;
  outline-color: var(--outline-border-color);
}
.tooltip {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  transform: translateX(-5%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: var(--background);
  border-radius: var(--tooltip-radius);
  color: white;
  box-shadow: 3px 3px 0px var(--outline-border-color);
}

.tooltip::after {
  content: "Hello!👋";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  text-align: center;
  border-radius: var(--tooltip-radius);
}
.tooltip::before {
  position: absolute;
  content: "";
  bottom: 0;
  border-style: solid;
  border-width: 10px;
  left: 0;
  transform: translateX(-50%);
  border-color: transparent var(--background) var(--background) transparent;
  box-shadow: 0px 3px 0px var(--outline-border-color);
}

.tooltip-container:hover .tooltip::after {
  animation: hidden 0.5s 1.5s linear forwards;
}

.tooltip-container:hover .tooltip {
  top: calc(-100% - var(--support-size) * 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  animation: shake 0.5s 1s linear;
  transition: all 0.3s 0.5s;
}

@keyframes hidden {
  50% {
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #1ca0f5;
  }
  100% {
    transform: translate(0, -50%) scale(0.5);
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  40%,
  80% {
    transform: translateX(-10%);
  }
  20%,
  60%,
  100% {
    transform: translateX(0);
  }
}

.st2 {
  fill: #f9c8a7;
}
.st3 {
  fill: #ff9e97;
}
.st6 {
  fill: #d72e48;
}
.st7 {
  fill: #ffffff;
}
.st8 {
  fill: #ff8d7f;
}
.st10 {
  fill: #3d3d3b;
}
.st11 {
  fill: #1ca0f5;
}
.st12 {
  opacity: 0.2;
}
.st14 {
  fill: #b7b7b7;
}
.st15 {
  fill: #ead9cf;
}
#Calque_1 {
  display: inline-block;
  height: var(--support-size);
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
  left: 0;
  top: 0;
}
#left_x5F_arm_2_ {
  transform: translateX(2px);
}

.tooltip-container:hover #Calque_1 {
  top: calc(var(--support-size) * -1);
  opacity: 1;
}
 

/* css for 6 images in pop up */

.data_container {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;

    && a 
    {
      list-style: none;
      text-decoration: none;
    }
    && h3
    {
      color: black;
    }
}
.data_container:hover
{
  scale: 1.1;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 110px;
  max-width: 110px;
  margin: 10px;
  && img 
  {
    height: 100%;
    width: 100%;
  }
}

.data img {
  width: 100%;
  height: auto;
}

.data h3 {
  text-align: center;
  margin-top: 10px; /* Adjust the margin as needed */
}
