 /* /* @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Kablammo&family=Rubik+Lines&display=swap');
body
{
    font-family: Rubik+Lines;
}
.img_container
{
    height: 8rem;
    width: 8rem;
    margin-right: 10px;
    && img{
        height: 100%;
        width: 100%;
    }
}

.continer
{
    display: flex;
    justify-content: center;
    margin: 5rem ;
    
}
.heading
{
    margin-top: 4rem;
    && h1
    {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        background: linear-gradient(to right, red ,blue);
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 60px rgba(255, 0, 0, 0.696);
        padding: 5px;
        animation: anime 0.5s infinite alternate;
    }
}
@keyframes anime {
    100%{
        text-shadow: 0 0 60px rgb(2, 2, 250);
    }
}
/* section1 css of HomePage Component */
.service
{
       font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.7rem;
        text-align: center;
        background: linear-gradient(to right, red ,blue);
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 60px rgba(255, 0, 0, 0.696);
        padding: 5px;
        animation: anime 1s infinite alternate;
        margin-top: 2.4rem;
    && a
    {
        text-decoration: none;
        color: transparent;
        margin-bottom: 10px;
        font-size: 2rem;
        font-family:Rubik+Lines ;
    }
    && a:hover
    {
        font-size: 35px;
        color: red;
    
    }
    && img
    {
        height: 3rem;
        width: 3rem;
       
        
    }

}
.services
{
   
    border-radius: 15px; 
    box-shadow: -15px 15px 15px rgb(12, 12, 12, 0.5) , 15px 15px 15px rgba(0, 0, 0, 0.1);
    width: 28rem;
    margin: 0px auto;
    border-radius: 30px;
    padding: 1px 10px 30px 10px;
    background: linear-gradient(#f19191,#7e7ef3,gold);
}
/* media queries  */
@media screen and (max-width: 799px)
{
    .heading
    {
        margin-top: 30px;
        margin-bottom: 40px;
        && h1
        {
            
            margin: 2px;
            font-size: 2rem; 
        }
    }
    .services
    {
        width: 20rem;
        margin: 10px;
        margin: auto; 
    }
}
  
/* new design started from here */
.about
{
    background-image: url('../assets/aboutBg.jpg');
    background-size: cover;
    background-position-x: center;
    
}
.about_heading
{    
    text-align: center;
    color: red;
    
    && h1
    {
        font-size: 40px;
        font-weight: 900;
        margin: 0px;
        padding: 20px 20px;
        
    }
    .about_para
    {
        width: 50%;
        font-size: 25px;
        font-weight: 500;
        color: black;
        text-align: center;
        margin: auto;
        padding: 30px;

    }
    
}
#light
{
    color: red;
    
}
/* for mobile view */
@media screen and (max-width: 1040px)
{ 
    .about
    {
        background-color: greenyellow;
        background-image: url('../assets/aboutMobilebg.jpg');
        background-size: cover;
    }
    .about_para
    {
        background-color: whitesmoke;
        border: 1px solid black;
        box-shadow: 10px 10px 10px 10px rgb(71, 66, 66);
        width: 80% !important;
        opacity: 0.7;
        text-shadow: 10px 10px 5px gray;

    }
    /* media queary for heading */
    .continer
    {
        margin: 20px 5px 30px 5px;

    }
    
} 