.about
{
    background-image: url('../../assets/aboutBg.jpg');
    background-size: cover;
    background-position-x: center;
    margin-top: 250px;
    
}
.about_heading
{    
    text-align: center;
    color: red;
    
    && h1
    {
        font-size: 40px;
        font-weight: 900;
        margin: 0px;
        padding: 20px 20px;
        
    }
    .about_para
    {
        width: 50%;
        font-size: 25px;
        font-weight: 500;
        color: black;
        text-align: center;
        margin: auto;
        padding: 30px;

    }
    
}
#light
{
    color: red;
    
}
/* for mobile view */
@media screen and (max-width: 1040px)
{ 
    .about
    {
        
        background-image: url('../../assets/aboutMobilebg.jpg');
        background-size: cover;
        margin-top: 80px;
    }
    .about_para
    {
        background-color: whitesmoke;
        border: 1px solid black;
        box-shadow: 10px 10px 10px 10px rgb(71, 66, 66);
        width: 80% !important;
        opacity: 0.8;
        text-shadow: 8px 11px 9px gray;
        border-radius: 10px;

    }
    /* media queary for heading */
    .continer
    {
        margin: 20px 5px 30px 5px;

    }
    
} 
