.feedback
{
    margin: auto auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    margin-top: 4rem;
   
}
.feedback_btn
{
    height: 50px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(246, 37, 37) ,rgb(33, 33, 247));
    color: white;
    margin-bottom: 20px;
    border: none;
    box-shadow: 5px 10px 10px 10px gray;
}